.atas{
    height: 30px;
}
.bawah{
    height: 60px;
}

.card p{
    margin-top: -10px;
    margin-bottom: 1px;
}
.row .card:hover{
    box-shadow: 2px 2px 2px rgba(0, 0,0,0.4);
    transform: scale(1.02);
}
.container{
    margin-top: 100px;
}
.newarrival
{
    background: blue;
    width: 50px;
    color: white;
    font-size: 12px;
    font-weight: bold;
}
.col-md-7 h2{
    color: #555;
}

